.button__close {
  background-image: url(../../../images/close_popup.svg);
  background-size: cover;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  top: -36px;
  background-position: center;
  background-color: #0000;
  border: none;
  transition: linear .5s;
  cursor: pointer;
}

.button__close:hover {
  opacity: 0.6;
}

@media screen and (min-width: 1279px) {
  .button__close {
    margin: 0 0 0 453px;
    width: 32px;
    height: 32px;
    right: -40px;
    top: -40px;
  }
}
