.popup__heading {
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  color: #000;
  margin: 25px 0 75px 22px;
  padding: 0;
  min-width: 238px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

@media screen and (min-width: 1279px) {
  .popup__heading {
    font-size: 24px;
    line-height: 29px;
    min-width: 330px;
    margin: 35px 0 50px 36px;
  }
}
