.popup__button_type_save {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  width: 238px;
  height: 46px;
  min-height: 46px;
  margin: 15px auto 0;
  border-style: none;
}

.popup__button_type_save:hover {
  opacity: 0.8;
}

@media screen and (min-width: 1279px) {
  .popup__button_type_save {
    width: 358px;
    height: 50px;
    font-size: 18px;
    line-height: 22px;
  }
}
