.popup__input-error {
  visibility: hidden;
  opacity: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  position: absolute;
  top: 52%;
  left: 0;
  transition: visibility 0.3s, opacity 0.3s linear;
}
