.card__remove {
  background-image: url(../../../images/remove_button.svg);
  background-size: cover;
  width: 18px;
  height: 19px;
  position: absolute;
  right: 20px;
  top: 20px;
  background-position: center;
  background-color: rgba(0, 0, 0, 0);
  z-index: 2;
  border-style: none;
}

.card__remove:hover {
  opacity: 0.6;
}
