.footer__author {
  font-size: 14px;
  line-height: 17px;
  color: #545454;
  margin: 0 auto;
  padding-bottom: 36px;
}

@media screen and (min-width: 768px) {
  .footer__author {
    text-align: center;
  }
}

@media screen and (min-width: 900px) {
  .footer__author {
    text-align: left;
  }
}

@media screen and (min-width: 1279px) {
  .footer__author {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 60px;
  }
}
