.profile__title {
  margin: 0 0 0 35px;
  font-weight: 500;
  font-size: 27px;
  line-height: 33px;
  grid-column: 1/2;
  grid-row: 2/3;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 190px;
}

@media screen and (min-width: 767px) {
  .profile__title {
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 0;
    align-self: flex-end;
    margin-left: 6px;
    max-width: 217px;
  }
}

@media screen and (min-width: 1279px) {
  .profile__title {
    max-width: 336px;
    font-size: 42px;
    line-height: 48px;
    grid-template-columns: 302px 18px;
    max-width: 294px;
  }
}
