.card {
  margin: 0 auto;
  background-color: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  display: grid;
  grid-template-rows: 282px 79px;
  grid-template-columns: 282px;
  position: relative;
}
