.card__button_like {
  background-image: url(../../../../images/like_button.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 22px;
  height: 19px;
  margin-right: 20px;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
}

.card__button_like:hover {
  opacity: 0.5;
}

.card__button_like:active {
  background-image: url(../../../../images/like_button-active.svg);
  opacity: 1;
}

.card__button_like:focus:not(:active) {
  background-image: url(../../../../images/like_button-active.svg);
  opacity: 1;
}

@media screen and (min-width: 1279px) {
  .card__button_like {
    margin-right: 20px;
  }
}
