.profile__info {
  display: grid;
  justify-items: center;
  grid-template-rows: 188px 54px 14px;
  align-items: center;
  margin: 0 auto;
  max-width: 320px;
}

@media screen and (min-width: 767px) {
  .profile__info {
    max-width: 90%;
    grid-template-rows: 60px 60px;
    grid-template-columns: 14% 58% 21%;
    column-gap: 30px;
    justify-items: flex-start;
    margin-top: 40px;
  }
}

@media screen and (min-width: 1279px) {
  .profile__info {
    max-width: 880px;
  }
}
